@charset "utf-8";
/* CSS Document */

/*==========*/
/*  
  [Let press Ctrl + f and type of paste the key, then press Enter to search the content ] Title
  Example : You want Import Files => Title is Import Files, or Fonts => Title is Fonts

  
  
/*==========*/

/*===== Import Files =====*/
/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=latin-ext,vietnamese');
/*  Css */
@import url(../lib/bootstrap/bootstrap.min.css);
@import url(../lib/font-awesome/font-awesome.min.css);
@import url(../lib/carousel/owl.carousel.min.css);
@import url(../lib/select2/css/select2.min.css);
@import url(../lib/starrating/css/star-rating.css);

/*===== Layout Style =====*/
html {
  height: 100%;
}
body.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  min-height: 100vh;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
#main.flex {
  width: 100%;
  min-height: calc(100vh - 300px);
  -webkit-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  -o-flex: 1 1 auto;
  flex: 1 1 auto;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff;
  color: #414141;
  font: 13px 'Roboto', Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  overflow-x: hidden;
  word-wrap: break-word
}
a {
  outline: 0;
  color: #000000;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.25s;
}
a:hover,
a:focus {
  color: #999999;
  text-decoration: none;
  outline: none;
  transition: all 0.25s;
}
p { margin: 0; }
select:focus, button:focus, input:focus { outline: none; }
.btn.focus, .btn:focus, .btn:hover {
  color: #333;
  text-decoration: none;
  outline: none;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  outline: none;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea, select, input[type="number"],
input[type="tel"] {
  border: none;
  width: 100%;
  padding: 0;
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
ul li,
ol li {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: inherit;
}
#wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

/*===== Common =====*/
.block {
  margin-bottom: 15px;
  position: relative;
  display: block;
}
.block-breadcrumb .breadcrumb {
  background: transparent;
  margin-bottom: 0;
  padding: 0;
}
.block-breadcrumb .breadcrumb li a {
  color: #333;
  font-size: 13px;
}
.block-breadcrumb .breadcrumb li.active {
  color: #51a0fb;
}
.block-breadcrumb .breadcrumb>li+li:before {
  padding: 0 5px;
  color: #333;
  content: "\f105";
  font-family: "FontAwesome";
}
.block-title-cm .block-title .title {
  border-bottom: 1px solid rgb(81, 160, 251);
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.block-title-cm .block-title .title a {
  color: #51A0FB;
  font-weight: normal;
  font-size: 16px;
  text-transform: uppercase;
}
.block-title-cm .block-title .title a i {
  margin-right: 5px;
  font-size: 18px;
}
.btn-viewmore {
  background: none repeat scroll 0 0 rgb(81, 160, 251);
  font-size: 14px;
  padding: 0;
  font-weight: bold;
  line-height: 35px;
  width: 102px;
  text-align: center;
  border: none;
  color: #fff;
  margin-top: 10px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.btn-viewmore:hover {
  -webkit-box-shadow: 3px 2px 9px 2px rgba(138,138,138,1);
  -moz-box-shadow: 3px 2px 9px 2px rgba(138,138,138,1);
  box-shadow: 3px 2px 9px 2px rgba(138,138,138,1);
  background: #4267B2;
  color: #ffffff;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.block-pagination-no {
  text-align: right;
}
.block-pagination-no .pagination {
  margin: 10px;
}
.block-pagination-no .pagination>li:first-child>a, .block-pagination-no .pagination>li:first-child>span {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.block-pagination-no .pagination>li:last-child>a, .block-pagination-no .pagination>li:last-child>span {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.block-pagination-no .pagination>li>a, .block-pagination-no .pagination>li>span {
  position: relative;
  float: left;
  padding: 3px 8px;
  margin-left: 0;
  font-weight: 500;
  line-height: 1.42857143;
  color: #565656;
  text-decoration: none;
  background-color: #fff;
  border: none;
}
.block-pagination-no .pagination>li>a:focus,.block-pagination-no .pagination>li>a:hover, .block-pagination-no .pagination>li>span:focus, .block-pagination-no .pagination>li>span:hover {
  z-index: 2;
  background-color: #00918D;
  color: #FFFFFF;
  border-color: transparent;
}
.block-pagination-no .pagination>.active>a, .block-pagination-no .pagination>.active>a:focus, .block-pagination-no .pagination>.active>a:hover, .block-pagination-no .pagination>.active>span, .block-pagination-no .pagination>.active>span:focus, .block-pagination-no .pagination>.active>span:hover {
  z-index: 3;
  cursor: default;
  background-color: #00918D;
  color: #FFFFFF;
  border-color: transparent;
}

.block-pagination  {
  text-align: center;
}
.block-pagination .pagination {
  margin: 5px 0;
  text-align: center;
}
.block-pagination .pagination>.active>a, .block-pagination .pagination>.active>a:focus, .block-pagination .pagination>.active>a:hover, .block-pagination .pagination>.active>span, .block-pagination .pagination>.active>span:focus, .block-pagination .pagination>.active>span:hover {
  color: #fff;
  background-color: #51A0FB;
  border-color: #51A0FB;
}
.block-pagination .pagination>li>a, .block-pagination .pagination>li>span {
  color: #51A0FB;
}
.block-pagination .pagination>li>a:focus, .block-pagination .pagination>li>a:hover, .block-pagination .pagination>li>span:focus, .block-pagination .pagination>li>span:hover {
  z-index: 2;
  color: #ffffff;
  background-color: #4267b2;
  border-color: #4267b2;
}

.box-table {
  display: table;
  height: 100%;
  width: 100%;
}
.box-table-cell {
  display: table-cell;
  vertical-align: top;
}

.group-btn {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.group-btn .btn {
  background: #51A0FB;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  margin-right: 10px;
  border-radius: 0;
  text-transform: uppercase;
}
.group-btn .btn:last-child {
  margin-right: 0;
}

.block-title-cm .block-title .title {
  color: #51A0FB;
  font-size: 18px;
  border-bottom: 1px solid rgb(81, 160, 251);
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px;
  font-weight: normal;
  font-size: 14px;
}

/*===== Header =====*/
#header .header-top {
  padding: 30px 0;
}
.block-search form {
  position: relative;
  border: 1px solid #cccccc;
  padding: 7px 0;
  margin-bottom: 0;
  margin-top: 5px;
}
.block-search form button[type="submit"] {
  position: absolute;
  left: 0;
  top: 0;
  width: 35px;
  height: 29px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.block-search form input[type="text"] {
  color: #666;
  font: 11px Roboto, Helvetica, sans-serif;
  border-left: 1px solid #ccc;
  margin-left: 35px;
  width: 88%;
  padding: 0 0 0 20px;
}

.block-user {
  position: relative;
}
.block-user .block-content {
  margin-top: 3px;
  display: inline-flex;
  vertical-align: top;
  align-items: center;
}
.block-user .popover {
  box-shadow: 4px 4px 14px 2px rgba(0,0,0,0.06) !important;
  border-radius: 3px;
  border: none !important;
  top: 50px !important;
  padding: 28px;
  z-index: 9;
}
.block-user .popover .popover-content {
  padding: 0;
}
.block-user .btn-white {
  background: white;
  border: solid 1px #E4E4E4;
}
.block-user .popover .popover-content .btn {
  color: #464646;
  border: 1px solid #E1E5EA;
  font-weight: 400;
  line-height: 1.9;
  width: 200px;
  font-family: Roboto, sans-serif;
}
.block-user .popover .popover-content .btn:hover {
  box-shadow: 4px 4px 14px 2px rgba(0,0,0,0.1);
}
.block-user .popover .popover-content .btn:not(:last-child) {
  margin-bottom: 10px;
}
.block-user .popover .popover-content .btn.login-button-fb {
  background-color: #2151B2;
  color: white;
}
.block-user .popover .popover-content .btn.btn-social {
  background-repeat: no-repeat;
  background-position: 10px center;
  text-align: center;
  border: none;
}
.block-user .popover .popover-content .btn.login-button-google {
  background-color: #D41701;
  color: white;
}
.block-user .ava-img {
  margin-right: 8px;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: solid 1px #E4E4E4;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  cursor: pointer;
}
.block-user .ava-info {
  padding-right: 20px;
  position: relative;
  cursor: pointer;
}
.block-user .ava-info p {
  margin-bottom: 2px;
}
.block-user .ava-info::after {
  position: absolute;
  content: '';
  background-image: url(../images/carret-down-small.svg);
  background-repeat: no-repeat;
  width: 8px;
  height: 4px;
  top: 8px;
  right: 0;
}
.block-user .popover {
  left: 0 !important;
  border: 1px solid #d8d8d8 !important;
}
.block-user .popover>.arrow {
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999999;
  top: -11px !important;
}
.block-user .popover>.arrow:after {
  content: " ";
  top: 1px;
  margin-left: -10px;
  border-top-width: 0;
  border-bottom-color: #fff;
}

.block-user-cp .popover {
  padding: 0;
}
.block-user-cp .user-dropdown-header {
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding: 10px 20px;
}
.user-dropdown-header-left {
  position: relative;
  float: left;
  width: 20%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding: 0;
}
.user-dropdown-header-left .user-avatar-medium {
  border-radius: 50%;
  height: 34px;
  width: 34px;
}
.user-dropdown-header-right {
  position: relative;
  float: left;
  width: 80%;
  min-height: 1px;
  /*padding-left: 15px;
  padding-right: 15px;
  padding: 5px 0 0 10px;*/
}
.user-dropdown-header-right .name {
  font-size: 14px;
  font-weight: bold;
  margin-top: 7px;
}
.user-dropdown-header-right .user-icon {
  position: absolute;
  top: 0px;
  right: 0px;
}
.user-dropdown-header-right .link {
  color: #797979;
  font-size: 10px;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  border: 1px solid #797979;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  font-size: 10px;
}
.user-dropdown-header-right .link .fa {
  position: relative;
  top: -1px;
}

.user-dropdown-links {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}
.user-dropdown-links .link {
  color: #212121;
  display: block;
  line-height: 26px;
  text-decoration: none;
  font-weight: normal;
}
.user-dropdown-logout {
  padding: 10px 20px;
}
.user-dropdown-logout .btn {
  font-size: 15px;
  color: #464646;
  font-weight: normal;
  width: 100%;
  outline: none;
}
.user-dropdown-logout .btn .fa {
  margin-right: 10px;
}

/* Menu Top */
.box-menu {
  background: #51A0FB;
}
.navbar-custom {
  background: transparent;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  min-height: 38px;
}
/*.navbar-collapse {
  padding-right: 0;
  padding-left: 0;
}*/
.navbar-nav li {
  list-style-type: none;
}
.navbar-nav>li:hover,
.navbar-nav>li.active {
  background: #4267B2;
}
.menu .navbar-nav>li>a {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  padding: 0 16px 0 17px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.menu .navbar-nav>li>a:hover,
.menu .navbar-nav>li>a:focus {
  color: #fff;
}
.menu .navbar-nav>li.menu-icon>a {
  min-width: 40px;
  height: 40px;
  padding: 0;
  text-indent: -8000px;
  background: url(../images/menu_home.png) no-repeat center 8px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #fff;
  background-color: #4267B2;
}
.menu .navbar-nav .submenu {
  text-align: left;
  display: block;
  position: absolute;
  top: 100%;
  font-size: 14px;
  width: 280px;
  border: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  z-index: 99;
  visibility: hidden;
  background-color: white;
  border-left: 1px solid #E8E8E8;
  box-shadow: 2px 2px 3px -1px #888888;
  -webkit-transform: translate(0, 10px);
  -ms-transform: translate(0, 10px);
  -o-transform: translate(0, 10px);
  transform: translate(0, 10px);
}
.menu .navbar-nav .submenu li {
  display: block;
  position: relative;
  text-transform: capitalize;
  padding: 10px 20px;
  border-bottom: 1px solid #e1e1e1;
}
.menu .navbar-nav .submenu li:hover {
  background: none repeat scroll 0 0 #f4f2f2;
}
.menu .navbar-nav .submenu li a {
  display: block;
  /*line-height: 36px;*/
  padding: 0;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  position: relative;
  color: #707070;
  text-transform: none;
}
.menu .navbar-nav .submenu li:hover>a {
  color: #51A0FB;
}
.menu .navbar-nav .submenu li.parent>a:before {
  content: "\f105";
  font-family: "FontAwesome";
  position: absolute;
  top: 0;
  right: 0;
}
.menu .navbar-nav li:hover > .submenu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(0, 0px);
  -ms-transform: translate(0, 0px);
  -o-transform: translate(0, 0px);
  transform: translate(0, 0px);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.menu .navbar-nav .submenu .submenu {
  left: 100%;
  top: 0;
}

/*===== Main =====*/
#main {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Block Study Notice */
.block-study-notice {
  overflow: hidden;
}
.block-study-notice span {
  font-weight: bold;
  color: #5e5e5e;
}
.block-study-notice span i {
  color: #F79422;
}

/* Block Live Tream */
.block-livetream .panel-default>.panel-heading {
  color: #fff;
  background-color: #51a0fb;
  border-color: #51a0fb;
}
.block-livetream .panel-body {
  padding: 15px;
}

/* Block News Home */
.home-news-left {
  float: left;
  width: 588px;
}
.home-news-left .item {
  width: 100%;
  position: relative;
}
.home-news-left .item .title {
  background: rgba(0, 0, 0, 0.4);
  border: 0 none;
  bottom: 0;
  left: 0;
  line-height: 20px;
  margin-top: 10px;
  padding: 10px 0;
  position: absolute;
  width: 100%;
}
.home-news-left .item .title a {
  color: #ffffff;
  font-weight: normal;
  font-size: 18px;
  padding: 0px 10px;
  display: inline-block;
}
.home-news-right {
  float: right;
  width: 350px;
  overflow: hidden;
}
.home-news-right .item {
  overflow: hidden;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 20px;
  line-height: 18px;
  border-bottom: 1px solid #e1e1e1;
}
.home-news-right .item:last-child {
  margin-bottom: 0;
}
.home-news-right .item .right-item-lnk-img {
  float: right;
  width: 133px;
  height: 75px;
  overflow: hidden;
  margin-left: 15px;
}
.home-news-right .item .right-item-title {
  max-height: 60px;
  overflow: hidden;
}
.home-news-right .item .right-item-title .item-title-lnk {
  font-size: 14px;
  font-weight: normal;
  color: #1b1b1b;
}

/* Block Quotations */
.block-quotations {
  margin-top: 15px;
  width: 100%;
  background: #F6F6F6;
}
.block-quotations .inner-quotations {
  color: #51A0FB;
  font-family: times new roman;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  line-height: 22px;
  padding: 5px 70px;
  text-align: center;
}
.block-quotations .inner-quotations .content {
  display: inline-block;
}
.block-quotations .inner-quotations .qoute {
  color: #ffa800;
  font-size: 25px;
  position: relative;
  top: 4px;
  display: inline-block;
}
.block-quotations .inner-quotations .author {
  color: #a6a6a6;
  display: block;
  font-family: Roboto,Geneva,sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: normal;
  text-align: right;
}


/* Block Cates */
.block-cates .item {
  margin-bottom: 10px;
}
.block-cates .item:nth-child(3n+1) {
  clear: both;
}
.block-cates .item .image {
  position: relative;
  overflow: hidden;
}
.block-cates .item .image img {
  width: 100%;
}
.block-cates .item .description {
  float: left;
  line-height: 18px;
  margin-top: 10px;
  overflow: hidden;
  width: 100%;
}
.block-cates .item .description a {
  color: #1b1b1b;
  font-size: 15px;
  line-height: 20px;
  font-weight: normal;
  height: 40px;
  overflow: hidden;
  display: block;
}

/* Block Slide Home */
.block-slide-home .item {
  position: relative;
  overflow: hidden;
}
.block-slide-home .item .image {
  position: relative;
  overflow: hidden;
}
.block-slide-home .item .description {
  float: left;
  line-height: 18px;
  margin-top: 10px;
  overflow: hidden;
}
.block-slide-home .item .description h3 {
  color: #1b1b1b;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  display: block;
}
.block-slide-home .item .description .info span {
  color: #606060;
  display: block;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 4px;
  line-height: 18px;
}

/* Block Get Mail */
.block-getmail {
  background: #51A0FB;
}
.block-getmail {
  padding: 10px 0;
}
.block-getmail p {
  color: #ffffff;
  font-size: 13px;
  line-height: 37px;
}
.block-getmail p strong {
  font-weight: bold;
  margin-right: 20px;
}
.block-getmail .form-getmail input {
  width: 80%;
  float: left;
  border-radius: 0;
  padding: 0 5px;
}
.block-getmail .form-getmail .btn-getmail {
  float: left;
  width: 20%;
  border-radius: 0;
  background: #fff;
  border-left: 1px solid #51a0fb;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.block-getmail .form-getmail .btn-getmail:hover {
  background: #4267B2;
  color: #fff;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

/*===== Footer =====*/
#footer .block-info-ft {
  margin-top: 15px;
  padding-bottom: 15px;
}
#footer .block-info-ft .container {
  border-bottom: 1px solid #51A0FB;
  padding-bottom: 15px;
}
#footer .address {
  float: left;
  font-style: normal;
  line-height: 1.42857143;
}

.block-social ul {
  padding: 0;
  margin: 0;
  text-align: center;
  margin-bottom: 5px;
}
.block-social ul li {
  list-style-type: none;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  background: #51A0FB;
  border-radius: 50%;
}
.block-social ul li a {
  color: #fff;
  line-height: 30px;
  font-size: 15px;
}
.block-social ul li.facebook {
  background: #305E94;
}
.block-social ul li.instagram {
  background: #317498;
}
.block-social ul li.youtube {
  background: #F0242D;
}
.block-social ul li.google {
  background: #317498;
}


/*===== Cate =====*/
.block-list-item .item {
  position: relative;
  margin-bottom: 15px;
}
.block-list-item .item:nth-child(3n + 1) {
  clear: left;
}
.block-list-item .item .name-subjects {
  display: block;
  margin-bottom: 10px;
}
.block-list-item .item .name-subjects a {
  color: #1b1b1b;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  margin-bottom: 10px;
}
.block-list-item .item:hover .name-subjects a {
  color: #51A0FB;
}
.block-list-item .item .view {
  color: #777777;
  padding: 10px 0;
}
.block-list-item .item .vts-teacher {
  background: #F1F1F1;
  padding: 10px;
}
.block-list-item .item .vts-teacher img {
  width: 48px;
  height: 48px;
  margin-right: 10px;
  float: left;
}
.block-list-item .item .vts-teacher span {
  display: inline-block;
  font-weight: bold;
  color: #5e5e5e;
  line-height: 18px;
}
.vts-rate span {
  float: left;
  width: calc(100% / 3);
}
.vts-rate span:last-child {
  padding-right: 0;
}
.vts-rate .rating,
.vts-rate .price {
  color: #777777;
  padding: 10px 0;
}

/*===== Cate Cate =====*/
.block-list-question .panel {
  border-radius: 0;
}
.block-list-question .panel-default>.panel-heading {
  background: url(../images/gd_22.png) repeat-x scroll left top #EFEFEF;
  border-bottom: 1px solid #DCDCDC;
  padding: 5px 0px 5px 10px;
  border-radius: 0;
}
.block-list-question .panel-title {
  display: inline-block;
  color: #00918d;
  font-size: 14px;
  line-height: 22px;
}
.block-list-question .select2 {
  margin-left: 15px;
}
.block-list-question .panel-body {
  padding: 0;
}
.block-list-question .item {
  border-bottom: 1px solid #DCDCDC;
  padding: 10px;
}
.block-list-question .item:last-child {
  border-bottom: none;
}
.block-list-question .item .number {
  border: 1px solid #DCDCDC;
  color: #FFFFFF;
  background: #037C7B;
  display: inline-block;
  margin-right: 15px;
  text-align: center;
  width: 70px;
  padding: 5px 0;
}
.block-list-question .item .number span {
  display: block;
  font-size: 11px;
  line-height: 17px;
  font-weight: bold;
}
.block-list-question .item .number span.unit {
  font-size: 40px;
  line-height: 35px;
  font-weight: bold;
}
.block-list-question .item .title {
  line-height: 18px;
  margin-top: 15px;
  font-weight: 500;
  vertical-align: top;
  display: inline-block;;
}
.block-list-question .item:hover .title {
  color: #51a0fb;
}

/*===== Block Video =====*/
.block-video-pg {
  margin-bottom: 15px;
}
.block-video .bock-info {
  position: relative;
  height: 350px;
  text-align: center;
}
.block-video .bock-info .title {
  color: #51a0fb;
  font-size: 18px;
  margin-bottom: 10px;
}
.block-video .bock-info .info {
  color: #000;
  font-size: 14px;
  margin-bottom: 10px;
}
.block-video .bock-info .price {
  color: #6e6e6e;
  font-size: 14px;
}

/*===== Block Articles =====*/
.block-articles .content {
  color: #333333;
  display: block;
  font-size: 14px;
  margin-top: 0;
  overflow: hidden;
  padding: 0 7px 0 0;
  line-height: 24px;
  text-align: justify;
}

/*===== Sidebar =====*/
.block-sidebar {
  margin-bottom: 15px;
}
.block-sidebar:last-child {
  margin-bottom: 0;
}
.block-sidebar .block-title .title {
  font-size: 15px;
  color: #51a0fb;
  padding-bottom: 5px;
  border-bottom: 1px solid #51a0fb;
  /*font-weight: bold;*/
  text-transform: uppercase;
}

/* Block Link */
.block-link .block-content {
  padding: 10px;
  max-height: 200px;
  overflow-y: scroll;
  border: 1px solid #DCDCDC;
  border-top: none;
}
.block-link ul li {
  list-style-type: none;
  margin-bottom: 5px;
}
.block-link ul li:last-child {
  margin-bottom: 0;
}
.block-link ul li.first {
  color: #565656;
  font-weight: bold;
  font-size: 16px;
}
.block-link ul li a {
  line-height: 20px;
  color: #777777;
  font-size: 14px;
}
.block-link ul li a:hover {
  color: #00918D;
  text-decoration: underline;
}

/* Block Teachers Sidebar */
.block-tearchers-sb .item {
  border: 1px solid #E2E2E2;
  margin-top: 10px;
  padding: 10px;
  margin-bottom: 10px;
}
.block-tearchers-sb .item:last-child {
  margin-bottom: 0;
}
.block-tearchers-sb .item .box-head-teacher {
  position: relative;
  clear: left;
  overflow: hidden;
  border-bottom: 1px solid #E2E2E2;
  padding-bottom: 10px
}
.block-tearchers-sb .item .box-head-teacher .image {
  display: inline-block;
  height: 77px;
  width: 109px;
  margin-right: 10px;
}
.block-tearchers-sb .item .box-head-teacher .image img {
  height: 77px;
  width: 109px;
}
.block-tearchers-sb .item .box-head-teacher .name {
  display: inline-block;
  vertical-align: top;
  margin-top: 25px;
  font-size: 14px;
  word-break: break-all;
}
.block-tearchers-sb .item .box-bottom-teacher {
  margin-top: 10px;
  position: relative;
  overflow: hidden;
}
.block-tearchers-sb .item .box-bottom-teacher p {
  font-size: 13px;
  color: #474747;
  line-height: 22px;
}

/* Block Course Relative */
.block-course-relatived .item {
  overflow: hidden;
  padding: 5px 0;
}
.block-course-relatived .item .image {
  float: left;
  height: 75px;
  margin-right: 10px;
  overflow: hidden;
  width: 135px;
}
.block-course-relatived .item .name {
  float: left;
  padding-right: 10px;
  max-height: 62px;
  overflow: hidden;
  width: calc(100% - 145px);
}

/* Block Cate Sidebar */
.block-sidebar-stt .block-content {
  border: 1px solid #DCDCDC;
  padding: 10px;
}
.block-cate-sb ul li {
  list-style-type: none;
  margin-bottom: 10px;
}
.block-cate-sb ul li:last-child {
  margin-bottom: 0;
}
.block-cate-sb ul li a {
  color: #767676;
  line-height: 20px;
}
.block-cate-sb ul li a:hover {
  color: #00918d;
  text-decoration: underline;
}

/* News SideBar */
.block-news-sb .item {
  padding: 5px 0 15px;
  overflow: hidden;
  width: 100%;
}
.block-news-sb .item .image {
  float: left;
  height: 75px;
  margin-right: 10px;
  overflow: hidden;
  width: 133px;
}
.block-news-sb .item .title {
  max-height: 62px;
  overflow: hidden;
}
.block-news-sb .item .title a {
  font-size: 14px !important;
  font-weight: normal;
}

/*===== Block Description =====*/
.block-description {
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
}
.block-description .title {
  color: #00918d;
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 10px;
}
.block-description .text {
  color: #565656;
  line-height: 18px;
  margin-top: 5px;
  overflow: hidden;
}

.block-list-video .item {
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}
.block-list-video .item .image {
  position: relative;
  overflow: hidden;
  display: block;
}
.block-list-video .item .image .play {
  width: 25px;
  height: 25px;
  background: #000;
  color: #fff;
  text-align: center;
  line-height: 25px;
  position: absolute;
  right: 5px;
  bottom: 5px;
  border-radius: 5px;
}
.block-list-video .item .name a {
  color: #676767;
  font-size: 14px;
  line-height: 18px;
  margin-top: 10px;
  display: block;
  font-weight: bold;
}
.block-list-video .item:hover .name a {
  color: #00918D;
}
.block-list-video .item .view {
  color: #777777;
}

/*===== Block List Course =====*/
.block-list-course .item {
  padding: 10px;
  position: relative;
  text-rendering: optimizeLegibility;
  border: 1px solid #dcdcdc;
  margin-bottom: 15px;
  overflow: hidden;
}
.block-list-course .item .title {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #565656;
  line-height: 18px;
  font-weight: bold;
  display: block;
  max-height: 35px;
  height: 35px;
  overflow: hidden;
}
.block-list-course .item:hover .title {
  color: #00918D;
  text-decoration: underline;
}
.block-list-course .item .des {
  font-size: 12px;
  line-height: 20px;
  color: #888;
  display: block;
  margin-bottom: 10px;
  height: 40px;
  overflow: hidden;
}
.block-list-course .item .statistics {
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -10px;
  border-top: 1px solid #E8E8E8;
}
.block-list-course .item .statistics .statistics-item {
  width: 50%;
  float: left;
  height: 45px;
  line-height: 45px;
  text-align: center;
  display: inline-block;
  border-right: 1px solid #E8E8E8;
}
.block-list-course .item .statistics .statistics-item:last-child {
  border-right: none;
}
.block-list-course .item .statistics .statistics-item span {
  font-size: 14px;
  font-weight: bold;
}

/*===== Block News =====*/
.news-item-first .image img {
  width: 100%;
}
.news-item-first .name {
  line-height: 20px;
  margin-top: 10px;
  width: 100%;
  color: #51A0FB;
  font-size: 18px;
  font-weight: normal;
  display: block;
}
.news-item-first .name a {
  color: #51A0FB;
  font-size: 18px;
  font-weight: normal;
}
.news-item-first .description {
  color: #9e9e9e;
  font-size: 12px;
  line-height: 18px;
  margin-top: 10px;
}

.block-news-other {
  margin-top: 10px;
  position: relative;
  overflow: hidden;
}
.block-news-other ul li {
  line-height: 18px;
  margin-bottom: 4px;
  padding-left: 15px;
  display: block;
  position: relative;
}
.block-news-other ul li:before {
  content: "\f111";
  font-family: "FontAwesome";
  font-size: 6px;
  position: absolute;
  left: 0;
  top: 0;
  color: #51A0FB;
}
.block-news-other ul li a {
  color: #888888;
}
.block-news-other ul li a:hover {
  color: #00918d;
}

.news-list .item {
  position: relative;
  clear: both;
  margin-bottom: 15px;
  float: left;
  width: 100%;
}
.news-list .item .image {
  float: left;
  width: 208px;
  margin-right: 15px;
}
.news-list .item .description {

}
.news-list .item .description .title a {
  color: #1b1b1b;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
}
.news-list .item .description .text {
  color: #9e9e9e;
  font-size: 13px;
  margin-top: 8px;
  overflow: hidden;
  max-height: 54px;
}

.banner-setup {
  margin-bottom: 20px;
  width: 100%;
}
.intro-setup {
  margin-bottom: 20px;
}
.intro-setup-title {
  color: #51A0FB;
  font-size: 18px;
  margin-bottom: 10px;
}
.intro-content {
  color: #303030;
  font-size: 14px;
  line-height: 14px;
}
.intro-content p {
  color: #303030;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 5px;
}

.block-course-rela .item {
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}
.block-course-rela .item .image {
  margin-bottom: 10px;
}
.block-course-rela .item .title {
  margin-bottom: 5px;
  font-weight: normal;
}
.block-course-rela .item .title a {
  color: #1b1b1b;
  font-size: 16px;
}
.block-course-rela .item .listen {
  color: #9e9e9e;
  display: block;
  font-size: 14px;
}

.block-star-test .stt-h3 {
  border: 1px solid #DCDCDC;
  border-bottom: 0px;
  color: #00918d;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
.block-star-test .box {
  border: 1px solid #DCDCDC;
  color: #565656;
  line-height: 18px;
  padding: 20px 0;
}
.block-star-test .box p {
  text-align: center;
  padding: 0px 10px;
  font-size: 14px;
}

.block-question .title {
  color: #00918d;
  font-size: 15px;
  font-weight: bold;
  line-height: 22px;
}

.box-question {
  border: 1px solid #DCDCDC;
  margin-top: 5px;
}
.box-question .box-title {
  background: url(../images/gd_22.png) repeat-x scroll left top transparent;
  color: #00918d;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  padding-left: 15px;
}

.box-question-list .ql-row {
  background: url(../images/gd_16.png) repeat-x scroll left bottom #FCFCFC;
  border: 1px solid #DCDCDC;
  margin: 10px;
  padding: 10px;
}
.ql-row .stt-left {
  float: left;
  width: 75px;
}
.ql-row .stt-left span.sttl-sp {
  background: url(../images/gd_29.png) no-repeat scroll left top transparent;
  color: #FFFFFF;
  display: inline;
  float: left;
  font-size: 18px;
  font-weight: bold;
  height: 41px;
  line-height: 41px;
  text-align: center;
  width: 41px;
}
.ql-row .ct-right {
  color: #565656;
  float: left;
  width: calc(100% - 75px);
}
.ql-row .ct-right .ctr-recommend {
  border-bottom: 1px solid #DCDCDC;
  font-weight: bold;
  line-height: 18px;
  margin-top: 15px;
  padding-bottom: 10px;
}
.ql-row .ct-right .ctr-recommend>p {
  margin-bottom: 5px;    
}
.ql-row .ct-right .ctr-choice {
  margin-top: 15px;
  width: 100%;
}
.ql-row .ct-right .ctr-choice .sp-choice {
  width: 160px;
  margin-top: 2px;
  display: inline-block;
  vertical-align: top;
  float: left;
}
.ql-row .ct-right .ctr-choice .list-choice {
  display: inline-block;
  width: calc(100% - 160px);
  float: left;
}
.ql-row .ct-right .ctr-choice .list-choice li {
  list-style-type: none;
  margin-bottom: 5px;
}
.ql-row .ct-right .ctr-choice .list-choice li label {
  font-weight: normal;
  margin-bottom: 0;
  padding: 5px 5px;
  cursor: pointer;
}
.ql-row .ct-right .ctr-choice .list-choice li.result {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: none repeat scroll 0 0 #BAE3FF;
}
.ql-row .ct-right .ctr-choice .list-choice li label input[type=checkbox],
.ql-row .ct-right .ctr-choice .list-choice li label input[type=radio] {
  margin: 0;
  vertical-align: middle;
  margin-right: 5px;
}
.ql-row .ct-right .ctr-note {
  color: #AAAAAA;
  font-size: 11px;
  line-height: 15px;
  margin-top: 15px;
}
.ql-row .ct-right .ctr-note a {
  color: #00918d;
}
.ql-row .ct-right .ctr-note a:hover {
  text-decoration: underline;
}
.ql-row .stt-left span.sttl-sp {
  background: none repeat scroll 0 0 #51A0FB;
  border-radius: 50%;
}
.ql-row .ct-right .ctr-recommend {
  margin-top: 10px;
  border-bottom: 0px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.ql-row .ct-right .ctr-recommend select {
  float: right;
}

.block-time {
  font-weight: bold;
  position: fixed;
  right: 10px;
  top: 50%;
  text-align: center;
  width: 150px;
  background: #fff;
  border: 3px solid #51A0FB;
  padding: 20px;
  border-radius: 5px;
  z-index: 9;
}
.block-time:before {
  content: url(../images/gd_36.png);
  position: absolute;
  top: -10px;
  left: -10px;
  background: #ffffff;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
}
.block-time span.sp-text {
  color: #565656;
  font-size: 14px;
  line-height: 18px;
}
.block-time span.sp-time {
  color: #00918d;
  font-size: 18px;
  height: 23px;
  line-height: 24px;
  margin-top: 2px;
}

.question-fixed {
  border: 1px solid #ebebeb;
  border-radius: 5px;
  left: 10px;
  position: fixed;
  top: 148px;
  width: 170px;
  background: #ffffff;
}
.question-fixed-title {
  background: none repeat scroll 0 0 #ffffff;
  color: #1b1b1b;
  float: left;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 30px;
  position: relative;
  text-align: center;
  top: -12px;
  width: 110px;
}
.question-column {
  float: left;
  margin-left: 10px;
  width: 31px;
}
.question-column a {
  border-left: 3px solid #e1e1e1;
  color: #1b1b1b;
  display: block;
  font-size: 11px;
  margin-bottom: 15px;
  padding-left: 8px;
  width: 27px;
}
.question-column a.active, .question-column a:hover {
  border-left: 3px solid #51a0fb;
  color: #51a0fb;
}

/*===== Block Teachers =====*/
.block-teachers .item {
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}
.block-teachers .item:nth-child(4n + 1) {
  clear: both;
}
.block-teachers .item .image {
  overflow: hidden;
  height: 120px;
}
.block-teachers .item .image img {
  width: 100%;
  height: auto;
}
.block-teachers .item .name-teacher {
  overflow: hidden;
  margin-top: 15px;
}
.block-teachers .item .name-teacher a {
  color: #1b1b1b;
  display: block;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 5px;
}
.block-teachers .item:hover .name-teacher a {
  color: #51a0fb;
}
.block-teachers .item .subject {
  color: #606060;
  display: block;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 4px;
  line-height: 18px;
}

/*===== Block Members =====*/
.block-members .item {
  background: url(../images/gd_19.png) repeat-x left bottom;
  border: 1px solid #DCDCDC;
  margin-bottom: 10px;
}
.block-members .item:nth-child(4n + 1) {
  clear: both;
}
.block-members .item .image {
  padding: 5px;
  height: 127px;
  overflow: hidden;
}
.block-members .item .image img {
  width: 100%;
  height: auto;
}
.block-members .item .description {
  border-top: 1px solid #DCDCDC;
  padding: 5px;
}
.block-members .item .description .name-members {
  line-height: 17px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 30px;
  overflow: hidden;
}
.block-members .item .description .name-members a {
  color: #565656;
  display: block;
  font-weight: bold;
  font-size: 14px;
}
.block-members .item .description p {
  height: 30px;
  overflow: hidden;
}
.block-detail .box-content {
  border: 1px solid #DCDCDC;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  line-height: 20px;
}
.block-detail .box-item {
  border-right: 1px solid #DCDCDC;
  padding-top: 10px;
  padding-bottom: 10px;
}
.block-detail .box-item:last-child {
   border-right: none;
}
.block-detail img {
  width: 100%;
}
.block-detail .box-bottom {
  border-top: 1px solid #dcdcdc;
  color: #333333;
  line-height: 20px;
  padding: 10px;
  margin-left: -10px;
  margin-right: -10px;
}
.block-detail .box-item .inner-box-img {

}
.box-content .box-h3 {
  background: url(../images/gd_22.png) repeat-x scroll left bottom transparent;
  border-top: 1px solid #DCDCDC;
  color: #565656;
  font-weight: normal;
  line-height: 17px;
  padding: 7px;
}

.block-list-lessons {
  background-color: #FFFFFF;
  border: 1px solid #DCDCDC;
}
.block-list-lessons .title {
  background: url(../images/gd_22.png) repeat-x scroll left top transparent;
  border-bottom: 1px solid #DCDCDC;
  color: #51a0fb;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  padding-left: 15px;
}
.block-box-link {
  padding: 10px;
}
.block-box-link ul li {
  list-style-type: none;
  float: left;
  width: 50%;
}
.block-box-link ul li a {
  color: #777777;
  line-height: 20px;
}
.block-box-link ul li a strong {
  color: #333;
}
.block-box-link ul li a:hover {
  color: #51a0fb;
}

/*===== News Detail =====*/
.block-article h1 {
  font-size: 20px;
  overflow: hidden;
  width: 100%;
  font-weight: normal;
  color: #333333;
}

.block-datetime {
  color: #6D6D6D;
  font-size: 13px;
}

.block-news-related .list-item {
  background: rgb(81, 160, 251) none repeat scroll 0% 0%;
  border-radius: 10px;
  padding: 4px 10px 10px;
}
.block-news-related .list-item li {
  list-style-type: none;
  padding-top: 7px;
  padding-bottom: 7px;
  background: none;
  padding-left: 5px;
  border-bottom: 1px solid #ffffff;
}
.block-news-related .list-item li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.block-news-related .list-item li a {
  color: #fff;
}
.block-news-related .list-item li a:hover {
  padding-left: 10px;
}
/* News Related Bottom */
.block-news-related-bot .block-title .title {
  color: #00918D;
  font-size: 18px;
  margin-bottom: 10px;
}
.block-news-related-bot .item {
  position: relative;
  display: block;
  overflow: hidden;
  margin-bottom: 15px;
}
.block-news-related-bot .item:last-child {
  margin-bottom: 0;
}
.block-news-related-bot .item .image {
  float: left;
  width: 208px;
  margin-right: 15px; 
}
.block-news-related-bot .item .des {
  float: left;
  width: calc(100% - 233px);
}
.block-news-related-bot .item .des .title {
  max-height: 62px;
  overflow: hidden;
}
.block-news-related-bot .item .des .title a {
  color: #1b1b1b;
  font-size: 16px;
  font-weight: normal;
  font-family: Arial;
  line-height: 22px;
}
.block-news-related-bot .item .des .date {
  color: #51a0fb;
  font-size: 12px;
}
.block-news-related-bot .item .des .info {
  color: #9e9e9e;
  font-size: 14px;
  margin-top: 8px;
  overflow: hidden;
  max-height: 54px;
}

#login-modal .modal-header, #register-modal .modal-header, #fogot-password-dialog .modal-header {
  border-bottom: 1px solid #dedede;
  padding: 10px;
}
#login-modal .modal-title, #register-modal .modal-title, #fogot-password-dialog .modal-title {
  text-align: center;
  color: #464646;
  font-weight: 700;
  font-size: 16px;
}
@media (min-width: 1201px) {
  #login-modal .modal-dialog, #register-modal .modal-dialog, #fogot-password-dialog .modal-dialog {
    width: 480px;
  }
}
#login-modal .modal-body, #register-modal .modal-body, #fogot-password-dialog .modal-body {
  margin: 0px;
  padding-bottom: 0;
}
#login-modal .sub-title, #register-modal .sub-title, #fogot-password-dialog .sub-title {
  color: #464646;
  font-size: 14px;
  margin-bottom: 0;
  text-align: center;
  padding: 5px 0 15px;
}
#login-modal .form-control-wrapper, #register-modal .form-control-wrapper, #fogot-password-dialog .form-control-wrapper {
  padding: 0 45px;
  margin-bottom: 15px;
}
#login-modal .form-control-wrapper .form-control, #register-modal .form-control-wrapper .form-control, #fogot-password-dialog .form-control-wrapper .form-control {
  padding: 15px 40px;
  height: auto !important;
  border: none;
  background-color: #e9edef;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -o-border-radius: 25px;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -o-box-shadow: none !important;
}
.btn-login-submit {
  width: 100%;
  background-color: #b3292e;
  border-radius: 25px;
  padding: 15px 50px;
  border: 0px;
  font-weight: 500;
  font-size: 16px;
  color: #fff !important;
  text-transform: none;
}
.btn-login-submit:hover {
  box-shadow: 4px 4px 14px 2px rgba(0,0,0,0.1);
  background-color: #cc2d32;
}
#login-modal .forgot-password-link, #register-modal .forgot-password-link, #fogot-password-dialog .forgot-password-link {
  text-align: center;
  margin-bottom: 10px;
}
#login-modal .modal-footer, #register-modal .modal-footer, #fogot-password-dialog .modal-footer {
  border-top: 1px solid #dedede;
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}
#login-modal .modal-footer .forgot-password-link, #register-modal .modal-footer .forgot-password-link, #fogot-password-dialog .modal-footer .forgot-password-link {
  border-bottom: 1px solid #dedede;
}
#login-modal .forgot-password-link, #register-modal .forgot-password-link, #fogot-password-dialog .forgot-password-link {
  text-align: center;
}
#login-modal .btn-link, #register-modal .btn-link, #fogot-password-dialog .btn-link {
  color: #2396c5 !important;
  font-size: 14px;
  font-weight: 500;
}
#login-modal .bottom-text, #register-modal .bottom-text, #fogot-password-dialog .bottom-text {
  padding: 10px 0 20px;
}
#login-modal .btn-link span, #register-modal .btn-link span, #fogot-password-dialog .btn-link span {
  display: block;
}
#login-modal .social-area a, #register-modal .social-area a, #fogot-password-dialog .social-area a {
  padding: 15px 50px;
  margin: 10px 0px;
  text-align: center;
  display: block;
  color: #ffffff;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -o-border-radius: 25px;
}
.btn-facebook {
  background-color: #3b5998 !important;
}
.btn-google {
  background-color: #e04006 !important;
}

.block-editor-content ol,
.block-editor-content ul {
  padding-left: 30px
}
.block-editor-content ol li,
.block-editor-content ul li {
  list-style-type: inherit
}
.block-editor-content img {
  display: unset;
}
.block-editor-content p {
  color: #333333;
  font-size: 14px;
  line-height: 24px;
  padding: 5px 0;
  font-family: Arial;
}

.block-lesson-left,
.block-lesson-right {
  border: 1px solid #E2E2E2;
  padding: 10px;
}
.block-lesson-left .block-title {
  color: #00918D;
  font-size: 15px;
}
.block-lesson-left .box-item {
  margin-top: 10px;
}
.block-lesson-left .box-item .box-item-title {
  color: #474747;
  font-size: 14px;
}
.block-lesson-left .box-item .box-item-list {
  margin-top: 10px;
}
.block-lesson-left .box-item .box-item-list li {
  margin-bottom: 10px;
  padding-left: 15px;
}
.block-lesson-left .box-item .box-item-list li:last-child {
  margin-bottom: 0;
}
.block-lesson-left .box-item .box-item-list li.skill-playing a {
  color: #00918d;
  font-weight: bold;
}
.block-lesson-left .box-item .box-item-list li:hover a {
  color: #00918d;
}

.block-lesson-right .block-lesson-player {
  max-height: : 365px;
  height: 365px;
}

.nav-tabs>li {
  width: 50%;
  text-align: center;
}
.nav-tabs>li>a {
  margin-right: 0;
  border: 1px solid #ddd;
  border-radius: 0;
  font-size: 15px;
  color: #707070;
  font-weight: bold;
}
.nav-tabs>li:last-child>a {
  border-left: none;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  border-bottom-color: #ddd;
  color: #00918D;
}
.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: transparent;
}
.nav-tabs>li>a:hover {
  border-color: #ddd;
}
.block-lesson-ct .tab-content {
  padding: 15px;
  border: 1px solid #ddd;
  border-top: none;
}

.group-btn .btn.btn-lesson {
  background: #51A0FB;
  background: -webkit-linear-gradient(top, #9dcbff 0%,#51A0FB 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dcbff', endColorstr='#51A0FB',GradientType=0 );
  background: -moz-linear-gradient(center top , #9dcbff 4pt, #51A0FB 100%) repeat scroll 0 0 #51A0FB !important;
  border-radius: 7px 7px 7px 7px;
  padding: 10px 0px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  width: 145px;
  float: left;
  text-align: center;
  margin-right: 0;
}

/* Back To Top
  ========================================================================== */
.td-scroll-up {
  cursor: pointer;
  position: fixed;
  bottom: 0;
  right: 5px;
  width: 40px;
  height: 40px;
  background-color: #51a0fb;
  z-index: 1;
  transform: translate3d(0, 70px, 0);
  -webkit-transform: translate3d(0, 70px, 0);
  -moz-transform: translate3d(0, 70px, 0);
  -ms-transform: translate3d(0, 70px, 0);
  -o-transform: translate3d(0, 70px, 0);
  -webkit-transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
  -moz-transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
  -o-transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
  transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
}
.td-scroll-up-visible {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
}
.td-scroll-up i {
  position: relative;
  color: #fff;
  font-size: 25px;
  display: block;
  text-align: center;
  width: 40px;
  top: 7px;
}
.td-scroll-up:hover {
  color: #fff;
  background: #4267b2;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* Contact
  ========================================================================== */
.block-contact .tit-page2 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 20px;
}

.block-map object {
  width: 100%;
  height: 400px;
  border: 0;
}
.block-address {
  margin-bottom: 20px;
}
.block-address p:first-child {
  font-weight: bold;
}
.block-address p {
  margin-bottom: 10px;
  font-size: 15px;
}
.block-address p:last-child {
  margin-bottom: 0;
}
.block-form .form-control {
  padding: 6px 12px;
  border: 1px solid #adadad;
}
.block-form .btn-send {
  color: #fff;
  width: 160px;
  background: #51a0fb;
  padding: 9px 12px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.block-form .btn-send:hover {
  background: #4267b2;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.block-page-about {
  line-height: 1.6;
  font-size: 15px;
}

.ic-free {
  background: rgb(81, 160, 251);
  color: #ffffff;
  font-size: 11px;
  text-align: center;
  box-shadow: 0 1px 0 rgb(170,193,203);
  position: absolute;
  top: 0;
  right: -20px;
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  height: 20px;
  width: 65px;
  line-height: 25px;
}